.map-container {
  border:2px solid green;
  height:625px;
}

#map-canvas {
	height: 100%;
	margin: 0px;
	padding: 0px
}

.bg-color{
	background-color: #6DBDD6;
	width: 100%;
}

.white{
	color: white;
}
